# Directories

#Visual Studio
.vs/
bin/
bin-int/
Vendor/
Yunomi/vendor/
Sandbox/vendor/
Yunomi/src/Yunomi/TestAssets/

#Codelite
.codelite/
.ctagsd/
.cache/

# File types

#Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

#Codelite
*.project
*.workspace
compile_commands.json
Makefile
*.mk
*.pch
*.txt

