[submodule "Yunomi/vendor/spdlog"]
	path = Yunomi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Yunomi/vendor/GLFW"]
	path = Yunomi/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/icaven/glm
[submodule "Yunomi/vendor/glm"]
	path = Yunomi/vendor/glm
	url = https://github.com/icaven/glm
